<h2 class="sub-header">A place to share, trade, and talk about the music that you love.</h2>

<nav>
<a href="/">Home</a>
<a href="/collection">MyCollection</a>
<a href="/profile">Profile</a>
<a href="/messages">Messages</a>
<a href="/map">Map</a>
<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>

</nav>

<%if (currentUser) {%>
<span class="log-status">You are logged in as:  <%= currentUser.name %> </span>
<%} else {%>
<span class="log-status">  You are not logged in </span>
<%}%>
<div class="search-box">
<h1 class="main-search">Search Releases: </h1>
<form class="main-search" method="GET" action='/search'>
<input id="text-field" type="text" name="search" placeholder="Search Here">
<input id="search-button" type="submit" value="Search">
</form>
</div>


<section class="main-img">
    <img id="ongaku" src="img/record.png">
</section>

<footer>
<p>Created by Garrett Moore using the Discogs API &copy; 2019</p>
</footer>