<h2 class="sub-header">A place to share, trade, and talk about the music that you love.</h2>

<nav>
<a href="#">MyCollection</a>
<a href="/profile">Profile</a>
<a href="#">Messages</a>
<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
<a href="/auth/logout">Logout</a>
</nav>

<div class="search-box">
<h1 class="main-search">Search Releases: </h1>
<form class="main-search" method="GET" action='/search'>
<input id="text-field" type="text" name="search" placeholder="Search Here">
<input id="search-button" type="submit" value="Search">
</form>
</div>


