body, html {
    margin: 2px;
    padding: 2px;
}

.main-header {
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: 40px;
}

.sub-header {
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    text-align: center;
    font-size: 34px;
}

.profile-name {
    font-size: 50px;
}

.profile-body {
    margin-top: 100px;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 40px;

}
.name-display {
    text-align: center;
    font-size: 20px;
    font-family: 'Poiret One', cursive;
}
nav {
    margin-top: 30px;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 28px;
    letter-spacing: 6px;
}

.main-img {
    text-align: center;
    margin-top: 40px;
    font-family: 'Poiret One', cursive;
}

#ongaku {
    border: 200px solid rgba(5, 10, 5, 0.8 );
    border-radius: 50% 50% 50% 50%;;
}
.search-box {
    margin-top: 30px;
}

.main-search {
    font-size: 30px;
    text-align: center;
    font-family: 'Poiret One', cursive;
}

#result-img {
    width: 300px;
    height: 300px;
}

.search-results {
    margin-top: 100px;
    text-align: center;
    font-family: 'Poiret One', cursive;
}

.btn-main {
    margin-bottom: 30px;
}

.artist-img {
    height: 600px;
    width: 600px;
    margin-top: 100px;
}
.artist-name {
    margin-top: 50px;
    font-size: 40px;
    font-family: 'Poiret One', cursive;
    margin-bottom: 100px;
}

.page-name {
    margin-top: 70px;
    text-align: center;
    font-family: 'Poiret One', cursive;
}

#show-head {
    font-family: 'Poiret One', cursive;
    text-align: center;
}

#map {
    margin: 0 auto;
    border: 10px solid black;
    border-radius: 30%;
    width: 600px;
    height: 600px;
}

#map-form {
    padding: 30px;
    font-family: 'Poiret One', cursive;
    margin: 0 auto;
    margin-left: 330px;
    margin-top: 100px;
}
.marker {
    background-size: contain;
}

#message {
    text-align: center;
}

#delete-btn {
    margin-top: 30px;
    font-family: 'Poiret One', cursive;
    display: inline-block;
    border: 2px solid black;
}

.results-img-box {
    margin-top: 80px;
    border: 6px solid black;
    box-shadow: -11px 10px 38px 0px rgba(0,0,0,0.75);
}

.collection-main {
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-flow: row wrap;

}

.collection-info {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Poiret One', cursive;
    margin-top: 30px;
}

#collection-each {
    margin-top: 100px;
    
    width: 312px;
    height: 312px;
    
}