<span class="logo-img">
    <img id="logo"src="/img/record-ex.png">
</span>
<h2 class="sub-header">A place to share, trade, and talk about the music that you love.</h2>
<span class="logo-img">
    <img id="logo2"src="/img/record-ex.png">
</span>

<nav>
    <a href="/">Home</a>
    <a href="/collection">MyCollection</a>
    <a href="/profile">Profile</a>
    <a href="/messages">Messages</a>
    <a href="/users">Users</a>
    <a href="/map">Map</a>
</nav>

<h1 class="page-name">MESSAGES</h1>