<span class="logo-img">
    <img id="logo"src="/img/record-ex.png">
</span>
<h2 class="sub-header">A place to share, trade, and talk about the music that you love.</h2>
<span class="logo-img">
    <img id="logo2"src="/img/record-ex.png">
</span>

<nav>
    <a href="/">Home</a>
    <a href="/collection">MyCollection</a>
    <a href="/trade">MyTrade</a>
    <a href="/profile">Profile</a>
    <a href="/messages">Messages</a>
    <a href="/users">Users</a>
    <a href="/map">Map</a>
</nav>

<h1 class="page-name">MESSAGES:</h1>
<h1 class="page-name">UNDER CONSTRUCTION</h1> 
<form id="send-msg-form"method="POST" action="/messages">
    <p>Send to:</p>
    <select name='user'>
    <% users.forEach(function(user) { %>
        <option value="<%= user.name %>"><%=user.name%></option>
    <%})%>
    </select> <br>
    <textarea id="msg-body" name="message" rows="4" cols="50"placeholder="Write your message here..."></textarea> <br>
    <input id="send-msg"class="btn" type="submit" value="Send Yr Message!">
</form>

<h1>Sent:</h1>




<footer>
    <p>Created by Garrett Moore using the Discogs API &copy; 2019</p>
</footer>